* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}
body .icon {
  margin: 0px;
  height: 40px;
}
body .icon .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  list-style: none;
  background: linear-gradient(129deg, rgb(27, 169, 17) 50%, rgb(14, 121, 13) 50%);
}
body .icon2 {
  background-color: rgb(46, 82, 11);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 1rem;
  background: linear-gradient(129deg, rgb(5, 39, 2) 46%, rgb(43, 74, 2) 46%);
}
body .icon2 ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .icon2 ul a {
  text-decoration: none;
  padding: 10px;
  color: aliceblue;
  padding-top: 10px;
  font-weight: bold;
}
body .icon2 ul a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
body .icon3 > div {
  background-color: rgb(54, 97, 10);
  height: 80px;
  background: linear-gradient(129deg, rgb(15, 88, 10) 40%, rgb(58, 204, 12) 40%);
}
body .image2 {
  margin-top: 30px;
}
body .box1 {
  margin: 10px;
  padding: 2px;
  color: rgb(62, 110, 17);
  text-align: center;
}
body table.box2 {
  border-collapse: collapse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  width: 100%;
}
body table.box2 thead tr th,
body table.box2 thead tr td, body table.box2 tbody tr th,
body table.box2 tbody tr td {
  padding: 10px;
}
body h2 {
  margin: 20px;
  padding: 2px;
  color: rgb(91, 167, 19);
  text-align: center;
}
body .image1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body h3 {
  margin: 20px;
  padding: 2px;
  color: rgb(98, 180, 21);
  text-align: center;
}
body .socure {
  background-color: rgb(10, 142, 43);
  height: 90px;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
body .socure .number {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  text-decoration: none;
  list-style: none;
  font-size: medium;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .video {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 60px;
}
body .hidding {
  margin-top: 20px;
  color: rgb(107, 200, 20);
}
body .bgimage {
  margin-left: 90px;
  margin-right: 50px;
}
body .HBL {
  margin-top: 30px;
  text-align: center;
}
body .image4 {
  margin-left: 80px;
  margin-right: auto;
}
body .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}
body .logo1 h3 {
  color: black;
}
body .logo1 li {
  list-style: none;
}
body .logo1 li a {
  text-decoration: none;
  color: black;
  font-weight: 100;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
body .logo1 li > a:hover {
  color: rgb(96, 217, 16);
}
body .logo1 li img {
  background: none;
  border: 1px solid black;
  padding: 10px;
  size: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline;
}
body .lasticon {
  margin: 0px;
}
body .lasticon .last1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  list-style: none;
}
body .footer {
  background-color: rgb(6, 97, 29);
  width: 100%;
  height: 60px;
  color: aliceblue;
}
body .footer p {
  margin-left: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}
body .footer p:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}